# code editors
vscode

# dependencies
node_modules/

# environment variables
.env
.prod.env
.stag.env

# bundle
dist/

# Files
*.img
*.jpg
*.png
*.pdf
*.txt
*.csv
*.xlsx

# Docker
mysql_data/

# Otros
notes.txt